<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no" />
        <link rel="stylesheet" href="css/base.css">
        <link rel="icon" href="favicon.png" sizes="32x32">

        <script src="js/lib/vue.js"></script>
        <script src="js/tools.js"></script>
        <script src="js/components.js"></script>
        <script src="js/modules.js"></script>
        <script src="js/index.js"></script>

    </head>
	<body>

        <div id="App">

            <avt-toolbar v-bind:isloggedin="isloggedin" v-bind:isportal="menu&&menu.isportal" v-bind:title="menu&&menu.title"></avt-toolbar>

            <avt-loginform v-bind:isloggedin="isloggedin" v-bind:logourl="logourl" v-bind:title="title" v-bind:showwarning="showloginwarning" v-bind:version="version" v-on:login="performlogin" v-on:dismisswarning="showloginwarning=false"></avt-loginform>

            <avt-mainmenu v-if="isloggedin&&menu" v-bind:menu="menu" v-on:logout="logout" v-on:select="selectmodule"></avt-mainmenu>

            <avt-dashboard v-if="isloggedin&&menu&&!currentModule" v-bind:menu="menu" v-on:select="selectmodule"></avt-dashboard>

            <div class="module" v-if="isloggedin&&currentModule"><component v-bind:is="currentModule"></component></div>

            <div class="blocked" v-if="isblocked"></div>

            <div class="loading" v-bind:class="{visible:iswaiting}"></div>

        </div>

    </body>
</html>