<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no" />
        <link rel="stylesheet" href="css/base.css">
        <link rel="icon" href="favicon.png" sizes="32x32">

        <script src="js/lib/vue.js"></script>
        <script src="js/lib/vuex.js"></script>
        <script src="js/tools.js"></script>
        <script src="js/components.js"></script>
        <script src="js/modules.js"></script>
        <script src="js/index.js"></script>

    </head>
	<body>

        <div id="App">

            <avt-toolbar></avt-toolbar>

            <avt-loginform v-on:login="performlogin"></avt-loginform>

            <avt-mainmenu v-on:logout="logout" v-on:select="selectmodule"></avt-mainmenu>

            <avt-dashboard v-on:select="selectmodule"></avt-dashboard>

            <component v-if="isloggedin&&activemodule" v-bind:is="activemodule"></component>

            <div class="blocked" v-if="isblocked"></div>

            <div class="loading" v-bind:class="{visible:iswaiting}"></div>

        </div>

    </body>
</html>