* {
    box-sizing: border-box;
    font-family: Roboto,Helvetica Neue,sans-serif;
    margin: 0; 
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    height: 100%;
}

html {
    height: 100%;
}

.cardstack {
    background: #dfd; /* ONLY FOR DEBUGGING */
    display: flex;
    flex: 1;
    margin-left: 240px;
}

.cardstack > .card {
    background: #bfb; /* ONLY FOR DEBUGGING */
}

.cardstack.default {
    align-content: center;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
}

.cardstack.default > .card {
    height: 100px;
    margin: 4px;
    width: 100px;
}

.cardstack.listdetail {
    overflow-x: auto;
}

.cardstack.listdetail > .card {
    min-width: 320px;
    pointer-events: none;
    position: relative;
}

.cardstack.listdetail > .card:after {
    border-right: 1px solid rgba(0,0,0,0.2);
    content: '';
    cursor: col-resize;
    height: 100%;
    position: absolute;
    right: 0;
    width: 4px;
    pointer-events: all;
}

.cardstack.listdetail > .card:hover:after {
    background: rgba(0,0,0,0.2);
}

.cardstack.listdetail > .card:last-child {
    flex: 1;
}
  
.cardstack.listdetail > .card:last-child:after {
    display: none;
}

.mainmenu {
    bottom: 0px;
    display: flex;
    flex-direction: column;
    left: 0px;
    position: absolute;
    top: 32px;
    width: 240px;
    box-shadow: 0px 0px 4px -1px rgba(0,0,0,0.2), 0px 0px 5px 0px rgba(0,0,0,0.14), 0px 0px 10px 0px rgba(0,0,0,0.12);
    z-index: 1000;
}

.mainmenu > .logo {
    padding: 10px;
}

.mainmenu > .section {
    border-top: 1px solid rgba(0, 0, 0, 0.12);
}

.mainmenu > .section:first-of-type {
    border-top: none;
}
    
.mainmenu > .section > .title {
    color: rgba(0, 0, 0, 0.54);
    font-size: 14px;
    letter-spacing: 0.14px;
    line-height: 17px;
    padding: 4px 8px;
}
    
.mainmenu > .section > .button {
    align-items: center;
    background: none;
    border: none;
    cursor: pointer;
    display: flex;
    padding: 4px 6px;
    width: 100%;
}
    
.mainmenu > .section > .button:hover {
    background-color: rgba(158, 158, 158, 0.2);
}
    
.mainmenu > .section > .button > .icon {
    margin-right: 6px;
    opacity: 0.6;
}

.toolbar {
    background: rgb(63, 81, 181);
    height: 32px;
    position: relative;
}

.toolbar > .button {
    border: none;
    display: inline-block;
    padding: 6px;
}

.toolbar > .mainmenubutton {
    display: none;
}

@media (max-width: 1280px) {

    .cardstack {
        margin-left: 0px;
    }
    
    .mainmenu {
        display: none;
    }
    
    .mainmenuopen > .cardstack {
        margin-left: 240px;
    }
    
    .mainmenuopen > .mainmenu {
        display: flex;
        height: 100%;
        top: 0px;
    }
    
    .mainmenuopen > .toolbar {
        margin-left: 240px;
    }
    
    .mainmenuopen > .toolbar > .mainmenubutton {
        left: -46px;
        position: absolute;
        z-index: 1100;
    }

    .toolbar > .mainmenubutton {
        display: initial;
    }
}