* {
    box-sizing: border-box;
    margin: 0; 
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    height: 100%;
}

html {
    height: 100%;
}

.cardstack {
    background: #dfd; /* ONLY FOR DEBUGGING */
    display: flex;
    flex: 1;
}

.cardstack > .card {
    background: #bfb; /* ONLY FOR DEBUGGING */
}

.cardstack.default {
    align-content: center;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
}

.cardstack.default > .card {
    width: 100px;
    height: 100px;
    margin: 4px;
}

.cardstack.listdetail {
    overflow-x: auto;
}

.cardstack.listdetail > .card {
    min-width: 320px;
    pointer-events: none;
    position: relative;
}

.cardstack.listdetail > .card:after {
    pointer-events: all;
    content: '';
    background: #ccc;
    display: block;
    height: 100%;
    width: 4px;
    position: absolute;
    top: 0;
    right: 0;
    cursor: col-resize;
}

.cardstack.listdetail > .card:hover:after {
    background: #666;
}

.cardstack.listdetail > .card:last-child {
    flex: 1;
}
  
.cardstack.listdetail > .card:last-child:after {
    display: none;
}

.mainmenu {
    display: none;
}

.toolbar {
    background: #fee; /* ONLY FOR DEBUGGING */
    height: 40px;
}